@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>My Favorite Movies</h1>

<div class="row mb-2">
    <div class="col">
        <h2>Avengers Infinity War</h2>
        <p>
        An unprecedented cinematic journey 10 years in the making and spanning the entire Marvel Cinematic Universe, 
        Marvel Studios’ Avengers: Infinity War brings to the screen the ultimate, deadliest showdown of all time. 
        The Avengers and their Super Hero allies must be willing to sacrifice all in an attempt to defeat 
        the powerful Thanos before his blitz of devastation and ruin puts an end to the universe.
        </p>
    </div>
    <div class="col">
        <img src="~/img/avengersinfinitywar.jpg"/>
    </div>
</div>

<div class="row mb-2">
    <div class="col">
        <h2>Avengers Endgame</h2>
        <p>
        After half of all life is snapped away by Thanos, the Avengers are left scattered and divided. 
        Now with a way to reverse the damage, the Avengers and their allies must assemble once more 
        and learn to put differences aside in order to work together and set things right. 
        Along the way, the Avengers realize that sacrifices must be made as they prepare for the ultimate final 
        showdown with Thanos, which will result in the heroes fighting the biggest battle they have ever faced.
        </p>
    </div>
    <div class="col">
        <img src="~/img/avengersendgame.jpg"/>
    </div>
</div>
